html {
  box-sizing: border-box;
  min-height: 100%;
  min-width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #555;
}

.home {
  background-image: url('img/ocean.jpg');
  background-size: cover;
  background-position: top bottom;
  background-repeat: no-repeat;
  .container {
    margin-top: rem(150);
  }
}

.results {
  background-color: darken(#FFF, 4%);
  .container {
    margin-top: rem(80);
    @media screen and (min-width: 700px) {
      margin-top: rem(100);
    }
  }
  h1 {
    margin-bottom: rem(20);
    font-size: rem(22);
    display: inline-block;
    width: 70%;
  }
  .query {
    font-style:italic;
    color: lighten(#555, 30%);
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

h1, h2, h3 {
  font-weight: 300;
}

h1 {
  font-size: rem(50);
}

h2 {
  font-size: rem(20);
}

a {
  text-decoration: none;
  color: #999;
  cursor: pointer;
}

.container {
  @include outer-container;
  width: 90%;
  max-width: 990px;
}

.center {
  text-align: center;
}

.main-title {
  margin-top: rem(100);
}

.open {
  color: darken($teal-light, 10%);
}

.closed {
  color: $pink;
}

.intro {
  font-style: italic;
  font-size: rem(22);
  width: 90%;
  max-width: rem(700);
  font-weight: 100;
  margin-top: rem(160);
  line-height: 1.8;
  position: fixed;
  bottom: rem(60);
  left: 50%;
  transform: translateX(-50%);
}
