html {
  box-sizing: border-box;
  min-height: 100%;
  min-width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #555;
}

.home {
  background-image: url('img/ocean.jpg');
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.results {
  background-color: darken(#FFF, 4%);
  .container {
    margin-top: rem(80);
  }
}

h1, h2, h3 {
  font-weight: 300;
}

h1 {
  font-size: rem(50);
}

h2 {
  font-size: rem(20);
}

a {
  text-decoration: none;
}

.container {
  @include outer-container;
  width: 85%;
}

.center {
  text-align: center;
}

.main-title {
  margin-top: rem(100);
}

.open {
  color: darken($green, 10%);
}

.closed {
  color: $pink;
}
