.card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(30);
  height: auto;
  overflow: hidden;
  padding: rem(25);
  padding-top: rem(20);
  box-shadow: 0 1px 3px rgba(0,0,0, .3);
  position: relative;
  background-color: #FFF;
  cursor: pointer;
  hr {
    display: block;
    width: 100%;
    margin: rem(15) 0;
    float: left;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #FFF;
    border-left: none;
    background-color: #FFF;
  }
  &__title {
    @include span-columns(9);
    margin: 0;
    margin-top: rem(6);
    font-size: rem(18);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    &:before {
      content: '+ ';
      font-size: rem(22);
      position: relative;
      float: left;
      top: -4px;
      margin-right: 5px;
    }
  }
  &__content {
    float: left;
    width: 50%;
    font-weight: 100;
    margin-left: 0;
    p, ul {
      margin: 0;
      font-size: rem(14);
    }
    &__title {
      margin-bottom: rem(7);
      margin-top: rem(5);
      font-weight: 400;
      font-size: rem(14);
    }
    ul {
      padding-left: 0;
      list-style-type: none;
    }
    &:nth-of-type(3) {
      width: auto;
      margin-left: rem(20);
    }
  }
  &__status {
    font-size: rem(12);
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
    text-align: right;
    &:first-line {
      font-size: rem(15);
      text-transform: uppercase;
      font-style: normal;
      font-weight: 400;
    }
  }
  &__bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(50);
    background-color: $teal-dark;
    display: flex;
  }
  &__expanded {
    display: none;
  }
  @media screen and (min-width: 700px) {
    width: 48%;
    float: left;
    &:first-of-type {
      margin-right: 4%;
    }
  }
}

// CATEGORIES
.planned-p {
  border-left: 3px solid $pink;
}

.hospital {
  border-left: 3px solid $teal-dark;
}
