.card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(30);
  height: auto;
  overflow: hidden;
  padding: rem(25);
  padding-top: rem(20);
  padding-bottom: rem(15);
  box-shadow: 0 1px 3px rgba(0,0,0, .3);
  position: relative;
  background-color: #FFF;
  hr {
    display: block;
    width: 100%;
    margin: rem(10) 0;
    float: left;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #FFF;
    border-left: none;
    background-color: #FFF;
  }
  &__title {
    @include span-columns(9);
    margin: 0;
    margin-top: rem(6);
    font-size: rem(18);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
  }
  .bar {
    width: 100%;
    margin: 0;
    margin-top: rem(20);
    font-size: rem(11);
    font-weight: 100;
    float: left;
    ul {
      width: 100%;
      display: flex;
      list-style-type: none;
      padding: 0;
      justify-content: space-between;
      margin:0;
    }
    img {
      width: rem(15);
      opacity: .4;
      position: relative;
      top: 3px;
      margin-right: rem(3);
    }
  }
  &__content {
    float: left;
    width: 40%;
    font-weight: 100;
    font-size: rem(13);
    margin-left: 15%;
    p, ul {
      margin: 0;
    }
    &__title {
      margin-bottom: rem(7);
      margin-top: rem(5);
      font-weight: 400;
      font-size: rem(12);
    }
    ul {
      padding-left: 0;
      list-style-type: none;
    }
    &.first {
      margin-left: 0;
    }
  }
  &__status {
    font-size: rem(12);
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
    text-align: right;
    margin-top: rem(5);
    &:first-line {
      font-size: rem(16);
      text-transform: uppercase;
      font-style: normal;
      font-weight: 400;
    }
  }
  @media screen and (min-width: 800px) {
    width: 46%;
    float: left;
    &:nth-of-type(2n) {
      float: right;
    }
  }
}

// CATEGORIES
.planned-p {
  border-left: 3px solid $pink;
}

.hospital {
  border-left: 3px solid $teal-dark;
}
