.top-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: rem(50);
  background:linear-gradient(to right, #e28a7c 0%,#E89E86 100%);
  background-color: $peach;
  width: 100%;
  padding: rem(13);
  text-align: center;
  z-index: 100;
  &__title {
    position: absolute;
    top: rem(6);
    color: #FFF;
    left: 50%;
    font-size: rem(24);
    font-weight: 300;
    transform: translateX(-50%);
  }
  a {
    color: #FFF;
    font-weight: 100;
    height: rem(23);
  }
}

.left {
  float: left;
  position: relative;
}

.back-arrow {
  float: left;
  height: rem(23);
  margin-right: rem(5);
}

// view format switcher (grid/list)
.view-nav {
  list-style-type: none;
  float: right;
  padding: 0;
  li {
    cursor: pointer;
    float: left;
    margin-left: rem(15);
    &:first-child img {
      width: rem(26);
    }
    img {
      height: rem(24);
      opacity: .5;
    }
  }
}
